@import "../../responsive.scss";

.homePage {
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .textContainer {
      flex: 1;

      .wrapper {
        padding-right: 25%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100%;
        margin: 25px 0px;

        @include lg {
          padding-right: 50px;
        }

        @include md {
          padding: 0;
        }

        @include sm {
          justify-content: flex-start;
        }

        .title {
          font-size: 48px;

          @include lg {
            font-size: 26px;
          }
          @include md {
            font-size: 22px;
          }
          @include sm {
            font-size: 18px;
          }
        }
      }
    }
    .welcome {
      font-size: 24px;
      margin-bottom: 20px;

      @include lg {
        font-size: 20px;
      }
      @include md {
        font-size: 20px;
      }
      @include sm {
        font-size: 18px;
      }
    }
  }
}
